.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-header {
  width: 100%;
  height: 350px;
  text-align:center;
}

img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #333;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px 10px 0 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  border-radius: 5px;
}

.flex-item:hover {
  cursor: pointer;
  background-color: turquoise;
}
