<h1>The Enemy Fleet</h1>

<hr />

<h2><em>The enemy fleet is advancing... you're not outnumbered, but you might be outgunned... or not!</em></h2>

<a class="btn btn-primary begin" href="/play">Ready for Battle?</a>
</table>
