<h1>Create a User</h1>

<table id="users" class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
    </tr>
  </thead>
  <tr>
    <td><input id="username" placeholder="Username" /></td>
    <td><input id="name" placeholder="Full Name" /></td>
  </tr>
</table>

<button id="save">Save</button>

<script src="/javascripts/create.js"></script>