<h1>User Management</h1>

<a class="btn btn-primary" role="button" href="/create">Add User</a>

<hr />

<table id="users" class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  
  {{#each users}}
    <tr id={{ this.id }}>
      <td><a href="/user/{{ this.id}}">{{ this.username }}</a></td>
      <td>{{ this.fullname }}</td>
      <td><a class="btn btn-primary delete" role="button" href="#">Delete User</a></td>
    </tr>
  {{/each}}

</table>

<script src="/javascripts/index.js"></script>