<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button id="add">Add Data</button>
<button id="delete">Delete Data</button>

{{#if data }}
  <p id="data">{{ data }}</p>
{{/if}}

<script src="/javascripts/index.js"></script>
