html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  height: 200px;
  width: 200px;
  margin: 2px;
  text-align: center;
  font-size: 1.5em;
  line-height: 185px;
  font-weight: bold;
}
